@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  font-size: 14px;
  min-height: 100%;
  background-color: #1a1e21;
}

body {
  margin-bottom: 60px;
  background-color: #1a1e21;
}